/* Sidebar.css */
.sidebar {
  background-color: #0f172a;
  color: rgb(240, 233, 103);
  width: 200px;
  height: 100vh;
  padding: 20px;
  position: fixed;
  transition: transform 0.3s ease;
}

.sidebar h2 {
  margin-bottom: 40px;
  margin-top: 40px;
  display: flex;
  align-items: center;
  gap: 8px; /* Space between icon and text */
}

.sidebar ul {
  list-style: none;
  padding: 0;
  font-size: 1.2rem;
}

.sidebar li {
  margin: 20px 0;
  cursor: pointer;
  display: flex;
  align-items: center;
  gap: 8px; /* Space between icon and text */
}

.sidebar__toggle {
  position: fixed;
  top: 10px;
  left: 180px; /* Default position when sidebar is open */
  z-index: 1000;
  border: 1px solid white;
  background: #0f172a;
  color: rgb(240, 233, 103);
  font-size: 1.1rem;
  padding: 2px 4px;
  border-radius: 6px;
  cursor: pointer;
  transition: left 0.3s ease; /* Add transition for smooth movement */
}

/* When sidebar is closed, move toggle to the left */
.sidebar__toggle--closed {
  left: 10px;
  border: 3px solid rgb(220, 214, 37);
}

.sidebar {
  transition: transform 0.3s ease;
}

.sidebar--closed {
  transform: translateX(-100%);
}   